dash==0.18.3
dash-core-components==0.12.7
dash-html-components==0.8.0
dash-renderer==0.11.0
dask==0.15.2
decorator==4.1.2
Flask==0.12.2
Flask-Compress==1.4.0
Flask-Cors==3.0.3
Flask-SeaSurf==0.2.2
gunicorn==19.7.1
pandas==0.20.3
plotly==2.0.15
xlrd==1.1.0

